.hero {
    background: #FFF;
    padding: 115px 0;

    .hero__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .hero__breadcrumb {
            display: flex;
            gap: 7px;

            .hero__breadcrumb-item,
            .hero__breadcrumb-separator {
                font-family: "Fredoka";
                font-weight: 600;
                font-size: 28px;
                margin: 0;
                white-space: nowrap;
            }

            .hero__breadcrumb-item {
                color: #707070;
            }

            .hero__breadcrumb-separator,
            .hero__breadcrumb-item--active {
                color: #DB6885;
            }

            .hero__breadcrumb-item--truncate {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    @media (max-width: 500px) {
        padding: 75px 0;

        .hero__content {

            .hero__breadcrumb {

                .hero__breadcrumb-item,
                .hero__breadcrumb-separator {
                    font-size: 20px;
                }
            }
        }

    }
}