<div class="sidebar__overlay" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="sidebar__content" (click)="$event.stopPropagation()">
    <header class="sidebar__header">
      <img class="sidebar__logo" src="assets/b-de-brigadeiro-logo.png" alt="B de Brigadeiro">
      <button class="sidebar__close" type="button" (click)="onClose()">
        <img src="assets/close.svg" alt="">
      </button>
    </header>

    <nav class="sidebar__nav">
      <a class="sidebar__link sidebar__link--home" (click)="onClose(); nav.navigate(nav.homeLink())">Página inicial</a>
<!--       <a class="sidebar__link sidebar__link--financas">Finanças</a> -->
      <a class="sidebar__link sidebar__link--menu" (click)="onClose(); nav.navigate(nav.menuLink())">Menu</a>
    </nav>

    <div class="sidebar__actions">
      <button class="btn btn--outline" (click)="contact()">Entre em contato</button>
    </div>
  </div>
</div>