<section class="popular__products">
    <div class="container popular__products__content">
        <h3 class="section__subtitle">Menu popular</h3>
        <h2 class="section__title">Doces mais populares</h2>

        <div class="product__grid">
            <div class="product" *ngFor="let product of products">
                <div class="product__image">
                    <img src="{{ product.path }}" alt="Imagem do brigadeiro clássico">
                </div>
                <div class="product__infos">
                    <h3 class="product__name">{{ product.name }}</h3>
                    <p class="product__price">{{ product.price }}</p>
                </div>
            </div>
        </div>

        <button class="btn__outline">Ver todo o menu</button>
    </div>
</section>