<footer class="footer">
  <div class="footer__content">
    <div class="footer__info">
      <div class="footer__contacts">
        <div class="phone__number">
          <img src="assets/phone.svg" alt="">
          <h2>Ligue: +55 14 99999-9999</h2>
        </div>
      </div>
      <div class="footer__social">
        <a href="https://www.instagram.com/b.debrigadeiiro/" target="_blank" class="footer__social-link footer__social-link--instagram">
          <img src="assets/instagram.svg" alt="Instagram">
        </a>
        <a href="" class="footer__social-link footer__social-link--whatsapp">
          <img src="assets/whatsapp.svg" alt="WhatsApp">
        </a>
      </div>
    </div>

    <div class="footer__links">
      <h2>Links rápidos</h2>
      <nav>
        <a class="footer__link footer__link--home" (click)="nav.navigate(nav.homeLink())">Página inicial</a>
        <!-- <a href="" class="footer__link footer__link--financas">Finanças</a> -->
        <a class="footer__link footer__link--menu" (click)="nav.navigate(nav.menuLink())">Menu</a>
      </nav>
    </div>
  </div>

  <div class="footer__legal">
    <h2>Copyright B de Brigadeiro 2025 Todos os direitos reservados</h2>
  </div>
</footer>