<section class="product-details">
    <div class="container product-details__container">
        <div class="product-details__image">
            <img src="assets/brigadeiro-classico.jfif" alt="">
        </div>
        <div class="product-details__content">
            <header class="product-details__header">
                <h1 class="product-details__name">Clássico</h1>
            </header>
            <div class="product-details__infos">
                <div class="product-details__price">
                    <h2 class="product-details__price-label">Valor</h2>
                    <h2 class="product-details__price-value">R$3,00</h2>
                </div>
            </div>
            <div class="product-details__description">
                <h2 class="product-details__description-title">Descrição</h2>
                <p class="product-details__description-text">From classic favorites to unique creations, our cake menu
                    at Fofood offers a delectable selection of sweet treats that will satisfy your cravings. Indulge in
                    moist and fluffy vanilla cake, rich chocolate ganache cake, refreshing lemon berry cake, tropical
                    mango passion cake, and more. With options available for various dietary preferences, including
                    vegan and gluten-free choices, everyone can enjoy our irresistible cakes. Whether you're celebrating
                    a special occasion or simply treating yourself, our cakes are made with the finest ingredients and
                    expert craftsmanship. Discover the joy of our sweet creations and let our cakes be the highlight of
                    your sweet moments.</p>
            </div>
            <div class="product-details__stock">
                <h2 class="product-details__stock-label">Quantidade</h2>
                <div class="product-details__quantity">
                    <button class="product-details__btn product-details__btn--decrement" type="button"
                        aria-label="Diminuir quantidade">−</button>
                    <output class="product-details__quantity-value" id="product-quantity">20</output>
                    <button class="product-details__btn product-details__btn--increment" type="button"
                        aria-label="Aumentar quantidade">+</button>
                </div>
            </div>
        </div>
    </div>
</section>