<header class="header" [ngClass]="{ 'header--white': headerCfg.backgroundWhite }">
    <div class="container header__container">
        <div class="logo" *ngIf="!headerCfg.hideLogo">
            <img class="logo__image" src="assets/images/b-de-brigadeiro-logo.png" alt="Logo B de Brigadeiro">
        </div>
        <nav class="nav__menu desktop__menu">
            <a class="nav__link nav__link--home" (click)="nav.navigate(nav.homeLink())">Página inicial</a>

            <a class="nav__link nav__link--menu" (click)="nav.navigate(nav.menuLink())">Menu</a>

            <!-- <a class="nav__link nav__link--cart" (click)="nav.navigate(nav.cartLink())">Carrinho</a> -->

            <!-- <a class="nav__link nav__link--login" [attr.href]="nav.href(['/login'])">Login</a> -->

            <a class="nav__link nav__link--contact" >Entre em contato</a>
        </nav>

        <button class="hamburger__button" (click)="onHamburgerClick()">
            <img src="assets/bars.svg" alt="">
        </button>
    </div>
</header>