<header class="header">
    <div class="container header__container">
        <div class="logo" *ngIf="!headerCfg.hideLogo">
            <img class="logo__image" src="assets/b-de-brigadeiro-logo.png" alt="Logo B de Brigadeiro">
        </div>
        <nav class="nav__menu desktop__menu">
            <a href="" class="nav__link nav__link--home">Página inicial</a>
            <a href="" class="nav__link nav__link--financas">Finanças</a>
            <a href="" class="nav__link nav__link--menu">Menu</a>
            <a href="" class="nav__link nav__link--login">Login</a>
            <a href="" class="nav__link nav__link--contact">Entre em contato</a>
        </nav>
        <button class="hamburger__button" (click)="onHamburgerClick()">
            <img src="assets/bars.svg" alt="">
        </button>
    </div>
</header>