<section class="menu-catalog">
    <div class="container menu-catalog__container">
        <div class="menu-catalog__filters">
            <h3 class="menu-catalog__filters-title">Categorias</h3>
            <div class="filter">
                <div class="filter__icon">
                    <img src="assets/category.svg" alt="Ícone Todos">
                </div>
                <div class="filter__content">
                    <span class="filter__label">Todos</span>
                    <span class="filter__count">8 Menu</span>
                </div>
            </div>
        </div>
        <div class="menu-catalog__content">
            <div class="menu-catalog__header">
                <h2 class="menu-catalog__title">Menu completo</h2>
                <span class="menu-catalog__count">8 doces</span>
            </div>
            <div class="menu-catalog__grid">
                <div class="product" *ngFor="let product of products">
                    <div class="product__image">
                        <img src="{{ product.path }}" alt="Imagem do brigadeiro clássico">
                    </div>
                    <div class="product__infos">
                        <h3 class="product__name">{{ product.name }}</h3>
                        <p class="product__price">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>