<div class="modal__overlay">
    <div class="modal__content">
        <div class="modal__header">
            <h2 *ngIf="step === 1">Sua caixinha</h2>
            <h2 *ngIf="step === 2">Monte sua caixinha</h2>

            <button *ngIf="step === 1" class="btn-close-modal" (click)="closeModal()">
                <img src="assets/close.svg" alt="">
            </button>

            <button *ngIf="step === 2" class="btn-back-modal" (click)="prevStep()">
                <img src="assets/arrow-left.svg" alt="">
            </button>
        </div>

        <div class="modal__body">
            <!-- STEP 1 -->
            <div *ngIf="step === 1" class="modal__section modal__section--quantity">
                <h2 class="modal__title" id="modal-quantity-title">Quantas caixinhas você quer?</h2>

                <div class="modal__quantity">
                    <div class="modal__quantity-wrapper">
                        <h3 class="modal__label">Quantidade:</h3>

                        <div class="modal__quantity-controls">
                            <button class="modal__btn modal__btn--qty modal__btn--decrement" (click)="decrement()"
                                type="button">
                                <i class="fas fa-minus modal__icon"></i>
                            </button>

                            <span class="modal__quantity-value">{{ quantity }}</span>

                            <button class="modal__btn modal__btn--qty modal__btn--increment" (click)="increment()"
                                type="button">
                                <i class="fas fa-plus modal__icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- STEP 2 -->
            <div *ngIf="step === 2" class="modal__section modal__section--builder">
                <h2 class="modal__title modal__title--builder">Escolha os doces</h2>

                <div class="builder">
                    <div class="builder__item" *ngFor="let doce of doceOptions; let i = index; trackBy: trackByIndex">
                        <span class="builder__item-name">{{ doce.name }}</span>

                        <div class="builder__qty">
                            <div class="builder__qty-wrapper">
                                <div class="builder__qty-controls">
                                    <button class="modal__btn builder__btn builder__btn--qty builder__btn--decrement"
                                        (click)="decrement()" type="button">
                                        <i class="fas fa-minus builder__icon"></i>
                                    </button>

                                    <span class="builder__qty-value">{{ quantity }}</span>

                                    <button class="modal__btn builder__btn builder__btn--qty builder__btn--increment"
                                        (click)="increment()" type="button">
                                        <i class="fas fa-plus builder__icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.builder__item -->
                </div> <!-- /.builder -->
            </div>
        </div>

        <div class="modal__footer">
            <button class="modal__btn modal__btn--secondary" (click)="closeModal()">Cancelar</button>
            <button class="modal__btn modal__btn--primary" (click)="step === 1 ? nextStep() : adicionarAoCarrinho()">
                {{ step === 1 ? 'Avançar' : 'Adicionar ao carrinho' }}
            </button>
        </div>
    </div>
</div>