@use './styles/globals/fonts' as font-definitions;

body {
    margin: 0;
}

.container {
  max-width: 1200px;  /* largura máxima */
  margin: 0 auto;     /* centraliza */
  padding: 0 24px;    /* respiro lateral para mobile */
}